<h1>Servicio Web</h1>

<p>Este archivo es parte del proyecto de la tarea 5. 
    <br/>
    Aquí se muestra la ruta de la API para listar y almacenar contactos.

</p>

<a href="/api/contacts"><h3>API de contactos</h3></a>